@model ECOMMERCE_TRESB.ModelViews.UsuarioView
@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Registro</h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="@Url.Action("Index", "Home")" id="IndexHomeClic">Inicio</a><i>|</i></li>
                    <li>Registrese</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<span id="HomeRegistrarseClic"></span>
<!-- /banner_bottom_agile_info -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info">
            @if (ViewBag.CorreoExistente != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" id="CerrarAlertaClic" data-dismiss="alert" class="close" type="button"> × </button>
                        @ViewBag.CorreoExistente
                    </div>
                </div>
            }
            <form action="@Url.Action("Registrarse", "Home")" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-header">
                            <h1>Usuario</h1>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="usuario">Correo: </label>
                            <input type="text" name="Email" id="EmailClic" value="@Model.Email" class="form-control" />
                            @Html.ValidationMessage("Email")
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="clave">Contraseña: </label>
                            <input type="password" name="Clave" id="ClaveClic" value="@Model.Clave" class="form-control" />
                            @Html.ValidationMessage("Clave")
                        </div>                       
                    </div>

                    <div class="col-md-6">
                        <div class="page-header">
                            <h1>Datos Personales</h1>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="pNombre">Nombres: </label>
                            <input type="text" name="Nombres" id="NombresClic" value="@Model.Nombres" class="form-control" maxlength="100" onkeypress="return validarLetras(event)" />
                            @Html.ValidationMessage("Nombres")
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="sNombre">Apellidos: </label>
                            <input type="text" name="Apellidos" id="ApellidosClic" value="@Model.Apellidos" class="form-control" maxlength="100" onkeypress="return validarLetras(event)" />
                            @Html.ValidationMessage("Apellidos")
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Sexo">Sexo: </label>
                            <select id="SexoClic" name="Sexo" class="form-control">
                                <option id="MasculinoClic" value="True">Masculino</option>
                                <option id="FemeninoClic" value="False">Femenino</option>
                            </select>
                            @Html.ValidationMessage("Sexo")
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Celular">Celular: </label>
                            <input type="text" id="CelularClic" name="Celular" value="@Model.Celular" class="form-control positive" maxlength="11" />
                            @Html.ValidationMessage("Celular")
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="FechaNacimiento">Fecha de Nacimiento: </label>
                            @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @id = "FechaNacimientoClic", @type = "date" } })
                            @Html.ValidationMessage("FechaNacimiento")
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" id="RegistrarseFormClic">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Validaciones.js"></script>
}



